<div class="container">

<div class="card mx-auto" style="width: 15rem;">
  <div class="card-body">

      <% if @creditcard.errors.any? %>
  <div id="error-explanation">
</div>
<% end %>

<%= form_with model: [:user, @payment_method, @creditcard] do |f| %>



    <%= f.label :token, "Código Alfanumérico", class:"form_label" %>
        <%= error_tag @creditcard, :token %>
    <%= f.text_field :token , class:"form_controll" %>



  <div class="input-group-btn">
    <%= f.submit button_text,  class:"btn btn-outline-success btn-sm" %>
    <%= link_to t('links.back'), root_path, class:"btn btn-outline-dark btn-sm" %>
</div>
<% end %>
</div>




