<h1 class="text-center"><%= t('.title') %></h1>
<div class="container">

<div class="card mx-auto" style="width: 15rem;">
  <div class="card-body">
<%= form_with model: [:user, @payment_method, @creditcard] do |f| %>
  <% if @creditcard.errors.any? %>
      <ul>
        <% @creditcard.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.label :token, "Código alfanumérico", class:"form_label" %>
    <%= f.text_field :token , class:"form_controll" %>


  <div class="input-group-btn">
    <%= f.submit t('.submit'),  class:"btn btn-outline-success btn-sm" %>
    <%= link_to t('links.back'), root_path, class:"btn btn-outline-dark btn-sm" %>
</div>
<% end %>
</div>




