
  <div class="card border border-5 mt-3 mx-auto" style="width: 27rem;">
  <div class="card-body text-justify mx-auto">
    <% if @pix.payment_method.icon.attached?%>
  <%= image_tag @pix.payment_method.icon, size: "50x50", class:"mx-auto" %>
  <% end %>
    <h5>Nome: <%= @pix.category_with_name %></h5>
    <p class="card-text">Taxa(%): <%= @pix.payment_method.percentage_fee %> </p>
    <p class="card-text">Taxa Maxima: <%= number_to_currency(@pix.payment_method.max_fee) %> </p>
    <p class="card-text">Chave Pix: <%= @pix.pix_key%></p>
    <p class="card-text">Código do Banco: <%= @pix.bank_code%></p>

  <%= link_to 'Editar', edit_user_payment_method_pix_path(@pix), class:"btn btn-outline-dark" %>
  <%= link_to 'Voltar', user_company_chosen_payments_path(@company.token), class:"btn btn-outline-dark" %>
