<h5> <%= @payment_method.name %> </h5>
<p> <%= @payment_method.percentage_fee %> </p>
<p> <%= number_to_currency(@payment_method.max_fee) %> </p>
<p> <%= "#{@payment_method.percentage_fee}%" %> </p>
  <% if @payment_method.icon.attached?%>
  <%= image_tag @payment_method.icon, size: "50x50", class:"mx-auto" %> 
  <% end %>

    <%= link_to 'Editar', edit_admin_payment_method_path %>
    <%= link_to 'Excluir', admin_payment_method_path, method: :delete %>
  <%= link_to 'Voltar', admin_payment_methods_path %>