<div class="container">

<%= form_with model: [:admin, payment_method] do |f| %>
  <% if payment_method.errors.any? %>
      <ul>
        <% payment_method.errors.each do |error| %>
          <li><%= error.message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :category, "Categoria", class:"form_label" %>
  <%= f.select :category, PaymentMethod.categories.keys%>

<div class="row g-2">
  <div class="col-md-6">
    <%= f.label :name, "Nome", class:"form_label" %>
    <%= f.text_field :name , class:"form_controll" %>
  </div>
</div>

<div class="row g-2">
  <div class="col-md-6">
    <%= f.label :percentage_fee, "Taxa por cobrança em %", class:"form_label" %>
    <%= f.text_field :percentage_fee , class:"form_controll" %>
  </div>
</div>

<div class="row g-2">
  <div class="col-md-6">
    <%= f.label :max_fee, "Taxa máxima em reais", class:"form_label" %>
    <%= f.text_field :max_fee , class:"form_controll" %>
  </div>
</div>


<div class="row g-2">
  <div class="col-md-6">
    <%= f.submit button_text,  class:"btn btn-outline-dark btn-sm" %>
    <%= link_to t('links.back'), admin_root_path, class:"btn btn-outline-dark btn-sm" %>
  </div>
</div>
<% end %>
</div>