
<div class="card mx-auto" style="width: 15rem;">
  <div class="card-body">

  	<% if company.errors.any? %>
    	<div id="error-explanation">
	<% end %>

<%= form_with model: [:user , company] do |f| %>





    <%= f.label :cnpj, "CNPJ", class:"form_label" %>
	    <%= error_tag company, :cnpj %>
    <%= f.text_field :cnpj , class:"form_controll" %>

    

    <%= f.label :corporate_name, "Razão Social", class:"form_label" %>
	    <%= error_tag company, :corporate_name %>
    <%= f.text_field :corporate_name , class:"form_controll" %>




    <%= f.label :billing_address, "Endereço de faturamento", class:"form_label" %>
	    <%= error_tag company, :billing_address %>
    <%= f.text_field :billing_address , class:"form_controll" %>



    <%= f.label :email, "E-mail para faturamento", class:"form_label" %>
	    <%= error_tag company, :email %>
    <%= f.text_field :email , class:"form_controll" %>



    <%= f.submit button_text,  class:"btn btn-outline-dark btn-sm" %>
    <%= link_to t('links.back'), root_path, class:"btn btn-outline-dark btn-sm" %>


<% end %>
  </div>
</div>

