<h5> <%= @company.cnpj %> </h5>
<p> <%= @company.corporate_name %> </p>
<p> <%= @company.billing_address %> </p>
<p> <%= @company.email_domain %> </p>
<p> <%= @company.token %> </p>


  <%= link_to 'Voltar', root_path %>