<h1 class="text-center">Meios de Pagamento Escolhidos</h1>

<div class="card-group border border-dark">
		<div class="card-body border border-dark">
      		<h3 class="card-title text-center">Boletos</h3>
					<% if @boletos.empty? %>
						<p>Nenhum Boleto</p>
					<% else %>
				<% @boletos.each do |boleto| %>
				<p class="card-text text-center">
				<%= image_tag boleto.payment_method.icon, size: '25' %>
				<%= link_to boleto.category_with_name, user_payment_method_boleto_path(boleto.payment_method, boleto)%>
				<%= boleto.bank_account %>
				</p>
				<% end %>
			</div>
				<% end %>	
					<% if @pixes.empty? %>
						<p>Nenhum Pix</p>
					<% else %>
			<div class="card-body border border-dark">
				<h4 class="card-text text-center">Pix</h4>
					<% @pixes.each do |pix| %>
						<p class="card-text text-center">
						<%= image_tag pix.payment_method.icon, size: '25' %>
						<%= link_to pix.category_with_name , user_payment_method_pix_path(pix.payment_method, pix)%>
						<%= pix.pix_key %>
						</p>
					<% end %>
				</div>
			<% end %>
					<% if @pixes.empty? %>
						<p>Nenhum Cartão de Credito</p>
					<% else %>
			<div class="card-body border border-dark">
				<h3 class="card-title text-center">Cartões</h3>
					<% @creditcards.each do |creditcard| %>
						<p class="card-text text-center">
						<%= image_tag creditcard.payment_method.icon, size: '25' %>
						<%= link_to creditcard.category_with_name,
						 user_payment_method_credit_card_path(creditcard.payment_method.id, creditcard)%>
						 		<%= creditcard.token %>
						 </p>
					<% end %>
				</div>
				<% end %>
			</div>
		</div>


<div class="col text-center">
	<%= link_to 'Voltar', root_path, class:"btn btn-outline-dark mx-auto" %>
</div>



