<div class="container">



<% if @boleto.errors.any? %>
  <div id="error-explanation">
</div>
<% end %>

<div class="card mx-auto" style="width: 15rem;">
  <div class="card-body">
<%= form_with model: [:user, payment_method, boleto] do |f| %>


    <%= f.label :bank_code, "Código do Banco", class:"form_label" %>
        <%= error_tag @boleto, :bank_code %>
    <%= f.text_field :bank_code , class:"form_controll" %>




    <%= f.label :agency_number, "Número da Agência", class:"form_label" %>
        <%= error_tag @boleto, :agency_number %>
    <%= f.text_field :agency_number , class:"form_controll" %>



    <%= f.label :bank_account, "Conta Bancária", class:"form_label" %>
        <%= error_tag @boleto, :bank_account %>
    <%= f.text_field :bank_account , class:"form_controll" %>



  <div class="input-group-btn">
    <%= f.submit button_text,  class:"btn btn-outline-success btn-sm" %>
    <%= link_to t('links.back'), root_path, class:"btn btn-outline-dark btn-sm" %>
</div>
<% end %>
</div>




