
  <div class="card border border-5 mt-3 mx-auto" style="width: 27rem;">
  <div class="card-body text-justify mx-auto">
  <%= image_tag @boleto.payment_method.icon, size: "50x50", class:"mx-auto" %>
    <h5>Nome: <%= "#{@boleto.payment_method.category} #{@boleto.payment_method.name}"%></h5>
    <p class="card-text">Taxa(%): <%= @boleto.payment_method.percentage_fee %> </p>
    <p class="card-text">Taxa Maxima: <%= number_to_currency(@boleto.payment_method.max_fee) %> </p>
    <p class="card-text">Código do Banco: <%= @boleto.bank_code%></p>
    <p class="card-text"> Número da Agência: <%= @boleto.agency_number%></p>
    <p class="card-text"> Conta Bancária: <%= @boleto.bank_account%></p>

  <%= link_to 'Editar', edit_user_payment_method_boleto_path(@boleto), class:"btn btn-outline-dark" %>
  <%= link_to 'Voltar', user_company_chosen_payments_path(@boleto.company_id), class:"btn btn-outline-dark" %>
