
<div class="card-group mx-auto row pt-3 pb-3" style="width: 40rem;">
		<div class="card-body border border-dark ">
      		<h3 class="card-title text-center">Cobranças</h3>
					<% if @charges.empty? %>
						<p>Nenhuma Cobrança</p>
					<% else %>
				<% @charges.each do |charge| %>
				<div class="container border border-dark pt-3">
				<p class="card-text col-4">
        <%= link_to "Atualizar #{charge.token}", edit_user_company_charge_path(@company.token, charge.token), class:"btn btn-outline-dark" %> 
				<p>Status: <%= charge.status %></p>
        <p>Valor: <%= charge.value_with_discount %></p>
        <p>Tipo de Pagamento: <%= charge.payment_category %></p>
				<p>Código de retorno: <%= charge.last_status %></p>
				</p>
				</div>
        <% end %>
				</div>
				</div>

        <% end %>
				</div>

<div class="col text-center">
	<%= link_to 'Voltar', root_path, class:"btn btn-outline-dark mx-auto" %>
</div>



