<!DOCTYPE html>
<html>
  <head>
    <title>Paynow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ps-3">
    <%= link_to 'PAYNOW', root_path,  class:"logo" %>
      <div class="collapse navbar-collapse">
       <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
         <% if  admin_signed_in?%>
        <li class="nav-item">
           <span class="text-light nav-link disabled"><%= current_admin.email %></span>
        </li>
          <li class="nav-item">
          <%= link_to 'Metodos de Pagamento', admin_payment_methods_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Gerenciar Empresas', admin_companies_path, class:"nav-link" %>
        </li>
         <%= link_to 'Sair',  destroy_admin_session_path, method: :delete, class:"nav-link" %>
         <% else %>
        </li>
          <li class="nav-item active">
          <%= link_to 'Logar', new_admin_session_path, class:"nav-link" %>
        </li>
       <% end %>
      </li>
    </ul>
  </div>
</nav>
  </header>
      <div class="container-fluid">
      <% flash.each do |nome, mensagem| %>
      <%= content_tag :div, mensagem, class: 'base-alert ' + nome %>
    <% end %>

        <%= yield %>
      </div>
  </body>
</html>
